<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>

    button{
  display: block;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 5px;
  font-size: 15px;
  text-align: center;
    }

    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #F44336;
   color: white;
   text-align: center;
}
</style>

</head>
</head>
<body>
{% block content %}
{% endblock %}

<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>
