<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>porio.com</title>
</head>
<body>


    <center>
<a href="{% url 'login' %}" style="
  display: block;
  width: 30%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 28px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
">login</a>
<br>
<a href="{% url 'registration' %}" style="
  display: block;
  width: 30%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 28px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
">registration</a>
<br>

<a href="{% url 'newuser' %}" style="
  display: block;
  width: 30%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 28px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
">newuser</a>
<br>

<a href="{% url 'adminlogin' %}" style="
  display: block;
  width: 30%;
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 28px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
">adminlogin</a>
<br>


        </center>

</body>
</html>